<h1 mat-dialog-title>Cadastrar Nova Atividade</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="atividade-form">
    <mat-form-field appearance="outline">
      <mat-label>Disciplina</mat-label>
      <mat-select formControlName="disciplina">
        <mat-option *ngFor="let disciplina of disciplinas" [value]="disciplina">
          {{ disciplina }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nome da Atividade</mat-label>
      <input matInput formControlName="atividade" cdkFocusInitial />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data de Entrega</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="data" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statusOptions" [value]="status">
          {{ status }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Novo Campo Peso -->
    <mat-form-field appearance="outline">
      <mat-label>Peso (Opcional)</mat-label>
      <input
        matInput
        type="number"
        formControlName="peso"
        placeholder="Ex: 4"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Resultado (Opcional)</mat-label>
      <input matInput type="number" formControlName="resultado" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    (click)="onSave()"
  >
    Salvar
  </button>
</div>
