// --- Variáveis de Cores ---
$text-primary: #f8f8f2;
$text-secondary: #bd93f9;
$border-color: rgba(109, 211, 206, 0.966);
$hot-pink: #e91e63;
$hover-bg: #3a3c4e;

.filter-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

mat-form-field {
  flex-grow: 1;
  max-width: 300px;
}

button[mat-icon-button] {
  // Cor inicial mais suave para o ícone
  color: $border-color;
  transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
  cursor: pointer;
  border-radius: 8px;
  background-color: $hover-bg;

  &:hover {
    background-color: $hover-bg; // Fundo no hover
    color: $hot-pink; // Cor mais forte no hover
    transform: scale(1.1); // Leve aumento para dar feedback
  }
}

// Estilização dos campos de formulário para o tema escuro
::ng-deep {
  .mat-mdc-form-field {
    .mdc-floating-label {
      color: $text-secondary !important;
    }
    .mat-mdc-select-value,
    .mat-mdc-select-arrow,
    .mat-mdc-select-placeholder {
      color: $text-primary !important;
    }
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: $border-color !important;
    }
    &.mat-focused {
      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        border-color: $hot-pink !important;
        border-width: 2px;
      }
      .mdc-floating-label {
        color: $hot-pink !important;
      }
    }
  }
}
